h1 {
    text-align: center;
}
@media (min-width:992px){
    #box {
        width: 30%;
        float: left;
        margin: 5px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    #box {
        width: 50%;
    }
}
@media (max-width:767px) {
    #box {
            width: 90%;
    }
}
#box {
background-color: lightblue;
padding:5px 5px 5px 5px;
border: 3px solid gray;
margin: 20px;
}
p {
    background-color: lightgreen;
    width: 200px;
    text-align: center;
   
}